:host {
  display: block;
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.05);
}

::ng-deep .ant-carousel {
  height: 100%;
}

::ng-deep .ant-carousel .slick-slider {
  height: 100% !important;
}

::ng-deep .ant-carousel .slick-slider .slick-track {
  height: 100%;
}

::ng-deep .ant-carousel .slick-slider .slick-list {
  height: 100%;
}

::ng-deep .slick-list {
  height: 100%;
}

::ng-deep .slick-slide {
  height: 100vh;
  overflow: hidden;
}

::ng-deep [nz-carousel-content] {
  height: 100%;
  overflow: hidden;
}
