<div class="page-header">
  <h2>{{ isEdit ? 'Editar Cliente' : 'Crear Cliente' }}</h2>
</div>

<div class="glass-card form-card">
  <form nz-form [formGroup]="form">
    <h4>Datos Generales</h4>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="nombre">Nombre</nz-form-label>
          <nz-form-control>
            <input nz-input name="nombre" type="text" formControlName="nombreCliente">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzFor="ruc">Nit</nz-form-label>
          <nz-form-control>
            <input nz-input name="ruc" type="text" formControlName="rucCliente">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzFor="cargo">Cargo</nz-form-label>
          <nz-form-control>
            <input nz-input name="cargo" type="text" formControlName="cargoCliente">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <h4>Contacto</h4>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzFor="contacto">Contacto</nz-form-label>
          <nz-form-control>
            <input nz-input name="contacto" type="text" formControlName="contactoCliente">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzFor="telefono">Teléfono</nz-form-label>
          <nz-form-control>
            <input nz-input name="telefono" type="text" formControlName="telefonoCliente">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzFor="fax">Celular</nz-form-label>
          <nz-form-control>
            <input nz-input name="fax" type="text" formControlName="faxCliente">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzFor="casilla">Email</nz-form-label>
          <nz-form-control>
            <input nz-input name="casilla" type="text" formControlName="casillaCliente" value="0">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <h4>Ubicación</h4>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzFor="direccion">Dirección</nz-form-label>
          <nz-form-control>
            <input nz-input name="direccion" type="text" formControlName="direccionCliente">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Sucursal</nz-form-label>
          <nz-form-control>
            <nz-select style="width:100%" nzRequired nzShowSearch nzAllowClear nzPlaceHolder="Elige una Sucursal" formControlName="sucursal">
              <nz-option *ngFor="let option of listSucursal" nzValue="{{option.id}}" nzLabel="{{option.nombre}}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Ciudad</nz-form-label>
          <nz-form-control>
            <nz-select style="width:100%" nzRequired nzShowSearch nzAllowClear nzPlaceHolder="Elige una Ciudad" formControlName="ciudad">
              <nz-option *ngFor="let option of listCiudad" nzValue="{{option.id}}" nzLabel="{{option.nombre}}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="form-actions">
      <button nz-button nzType="default" (click)="cancel()">Cancelar</button>
      <button nz-button nzType="primary" [disabled]="!form.valid" (click)="saveClient()">Guardar Datos de Cliente</button>
    </div>
  </form>
</div>
