<div class="page-header">
  <h2>Nota de Debito Paquetes</h2>
  <div class="page-actions">
    <button nz-button nzType="primary" routerLink="../nota-debito-Create">Crear Nota de Debito</button>
  </div>
</div>
<nz-spin [nzSpinning]="waitAction">
  <div class="filter-row">
    <nz-form-item>
      <nz-form-label nzFor="filtrar">Numero Nota: </nz-form-label>
      <nz-form-control>
        <input nz-input name="filtrarId" type="number" [(ngModel)]="idSearch">
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" (click)="filterId()">Filtrar</button>
    <nz-form-item>
      <nz-form-label nzFor="filtrar">Filtrar por Texto</nz-form-label>
      <nz-form-control>
        <input nz-input name="filtrar" type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()">
      </nz-form-control>
    </nz-form-item>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzRequired>Ciudad: </nz-form-label>
        <nz-form-control>
          <nz-select nzPlaceHolder="Sucursal" formControlName="sucursal">
            <nz-option *ngFor="let option of listSucursales" [nzLabel]="option['nombre']" [nzValue]="option['id']"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
    <nz-form-item>
      <nz-form-label nzFor="filtrar">Fecha</nz-form-label>
      <nz-form-control>
        <nz-month-picker [(ngModel)]="dateSearch" (ngModelChange)="onChange($event)"></nz-month-picker>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" (click)="resetDate()">Sin Fecha</button>
  </div>

  <nz-table #basicTable
    [nzData]="listOfData"
    [nzFrontPagination]="false"
    [nzPaginationPosition]="'both'"
    [nzTotal]="total"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Agencia</th>
        <th>Pasajero</th>
        <th>Servicio</th>
        <th>Voucher</th>
        <th>Monto Total</th>
        <th>Estado</th>
        <th *ngIf="isAdmin"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data" routerLink="../profile-nota-debito/{{data.id}}">
        <td><h3>{{ data.codigoUnico }}</h3></td>
        <td>{{ data.codCliente }}</td>
        <td>{{ data.pasajero }}</td>
        <td>{{ data.servicio }}</td>
        <td>{{ data.voucher }}</td>
        <td>{{ data.total.toFixed(2) }}</td>
        <td>{{ stateTranslate(data.estado) }}</td>
        <td *ngIf="isAdmin">
          <button nz-button nzType="primary" routerLink="../edit-nota-debito/{{data.id}}">Editar</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
