<div class="page-header">
  <h2>{{ isEdit ? 'Editar' : 'Crear' }} Nota de Débito</h2>
</div>
<nz-spin [nzSpinning]="waitAction">
  <div class="glass-card">
    <form nz-form [formGroup]="form">
      <div nz-row [nzGutter]="32">
        <div nz-col [nzXs]="24" [nzMd]="14">
          <nz-form-item>
            <nz-form-label nzRequired>Fecha de Registro: </nz-form-label>
            <nz-form-control>
              <nz-date-picker ngModelChange="onChange()" formControlName="fechaRegistro" nzPlaceHolder="Fecha Registro" (ngModelChange)="updateCheckClientes()"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Fecha de Vencimmiento: </nz-form-label>
            <nz-form-control>
              <nz-date-picker ngModelChange="onChange()" formControlName="fechaVencimiento" nzPlaceHolder="Fecha Vencimiento" (ngModelChange)="updateCheckClientes()"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Cliente</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Elige una Agencia" formControlName="clienteNotaVenta" (ngModelChange)="counterChange($event)">
                <nz-option *ngFor="let option of options" nzValue="{{option.id}}" nzLabel="{{option.name}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Proveedor</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Elige un Operador" formControlName="operador" ngModelChange="calculateData()">
                <nz-option *ngFor="let operador of operadores" nzValue="{{operador.id}}" nzLabel="{{operador.name}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Pasajero</nz-form-label>
            <nz-form-control>
              <input nz-input name="Pasajero" type="text" formControlName="Pasajero">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Servicio</nz-form-label>
            <nz-form-control>
              <input nz-input name="Servicio" type="text" formControlName="Servicio">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Voucher</nz-form-label>
            <nz-form-control>
              <input nz-input name="Voucher" type="text" formControlName="Voucher">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Counter</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Elige un Counter" formControlName="counter" ngModelChange="calculateData()">
                <nz-option *ngFor="let counter of counters" nzValue="{{counter.id}}" nzLabel="{{counter.nombreCod}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Concepto</nz-form-label>
            <nz-form-control>
              <input nz-input name="Concepto" type="text" formControlName="Concepto">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="10" class="liquidacion-col">
          <h4>Liquidacion</h4>
          <nz-form-item>
            <nz-form-label nzRequired>Monto al Pax:</nz-form-label>
            <nz-form-control>
              <input class="montos" nz-input name="Voucher" type="number" formControlName="montoNeto">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>comisión Agencia:</nz-form-label>
            <nz-form-control>
              <input class="montos" nz-input name="Voucher" type="text" formControlName="comicionAgencia" [disabled]="!isDisabled">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>comisión Counter</nz-form-label>
            <nz-form-control>
              <input class="montos" nz-input name="Voucher" type="text" formControlName="comicionCounter" [disabled]="!isDisabled">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>comisión Metropolitana</nz-form-label>
            <nz-form-control>
              <input class="montos" nz-input name="Voucher" type="text" formControlName="comicionMetro" [disabled]="!isDisabled">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Neto a Liquidar</nz-form-label>
            <nz-form-control>
              <input class="montos" nz-input name="Voucher" type="text" formControlName="aMetro" [disabled]="!isDisabled">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <label nz-checkbox formControlName="sinCalculo">Calculo Manual</label>
          </nz-form-item>

          <nz-form-item style="visibility:hidden">
            <nz-form-label>Neto a Liquidar:</nz-form-label>
            <nz-form-control>
              <input class="montos" nz-input name="Voucher" type="text" formControlName="netoLiquida" disabled>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item style="visibility:hidden">
            <nz-form-label>Al Pax:</nz-form-label>
            <nz-form-control>
              <input class="montos" nz-input name="Voucher" type="text" formControlName="alPax" disabled>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>

    <div class="form-actions">
      <button nz-button [disabled]="!form.valid" nzType="primary" (click)="saveNotaVenta()">Guardar Datos de Nota de Venta</button>
    </div>
  </div>
</nz-spin>
