<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="280px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-header">
      <div class="brand" *ngIf="!isCollapsed">
        <div class="brand-icon">
          <i nz-icon nzType="bank" nzTheme="outline"></i>
        </div>
        <span class="brand-text">Metropolitana</span>
      </div>
      <div class="sidebar-toggle" (click)="onCollapseMenu()">
        <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </div>
    </div>

    <div class="sidebar-menu">
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li *ngIf="isAdmin(['1','2','3','4','5'])" nz-menu-item routerLink="../main"
            routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
          <i nz-icon nzType="home" nzTheme="outline"></i>
          <span>Inicio</span>
        </li>

        <li *ngIf="isAdmin(['1','2'])" nz-submenu nzClose>
          <span title>
            <i nz-icon nzType="global" nzTheme="outline"></i>
            <span>Universal Assistance</span>
          </span>
          <ul>
            <li nz-menu-item routerLink="travelace/nota-debito">
              <i nz-icon nzType="file-text" nzTheme="outline"></i>
              <span>Nota de Débito</span>
            </li>
            <li nz-menu-item routerLink="travelace/cargar-excel">
              <i nz-icon nzType="upload" nzTheme="outline"></i>
              <span>Cargar Excel</span>
            </li>
            <li nz-menu-item routerLink="travelace/reporte-nota-debito">
              <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
              <span>Reporte Nota Débito</span>
            </li>
            <li nz-menu-item routerLink="travelace/orden-pago">
              <i nz-icon nzType="dollar" nzTheme="outline"></i>
              <span>Orden de Pago</span>
            </li>
            <li nz-menu-item routerLink="travelace/reporte-orden-pago">
              <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
              <span>Reporte Orden Pago</span>
            </li>
            <li nz-menu-item routerLink="travelace/reporte-ventas">
              <i nz-icon nzType="line-chart" nzTheme="outline"></i>
              <span>Reporte de Ventas</span>
            </li>
            <li nz-menu-item routerLink="travelace/reporte-ventas-filtradas">
              <i nz-icon nzType="filter" nzTheme="outline"></i>
              <span>Ventas Filtradas</span>
            </li>
            <li nz-menu-item routerLink="travelace/reporte-ventas-counter">
              <i nz-icon nzType="team" nzTheme="outline"></i>
              <span>Ventas por Counter</span>
            </li>
          </ul>
        </li>

        <li *ngIf="isAdmin(['1','3'])" nz-submenu nzClose>
          <span title>
            <i nz-icon nzType="inbox" nzTheme="outline"></i>
            <span>Paquetes</span>
          </span>
          <ul>
            <li nz-menu-item routerLink="paquetes/nota-debito">
              <i nz-icon nzType="file-text" nzTheme="outline"></i>
              <span>Nota de Débito</span>
            </li>
            <li nz-menu-item routerLink="paquetes/orden-pago">
              <i nz-icon nzType="dollar" nzTheme="outline"></i>
              <span>Orden de Pago</span>
            </li>
            <li nz-menu-item routerLink="paquetes/reporte-orden-pago">
              <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
              <span>Reporte Orden Pago</span>
            </li>
            <li nz-menu-item routerLink="paquetes/reporte-ventas">
              <i nz-icon nzType="line-chart" nzTheme="outline"></i>
              <span>Reporte de Ventas</span>
            </li>
            <li nz-menu-item routerLink="paquetes/reporte-ventas-counter">
              <i nz-icon nzType="team" nzTheme="outline"></i>
              <span>Ventas por Counter</span>
            </li>
            <li nz-menu-item routerLink="paquetes/reporte-ventas-filtradas">
              <i nz-icon nzType="filter" nzTheme="outline"></i>
              <span>Ventas Filtradas</span>
            </li>
          </ul>
        </li>

        <li *ngIf="isAdmin(['1','4'])" nz-submenu nzClose>
          <span title>
            <i nz-icon nzType="download" nzTheme="outline"></i>
            <span>Carga</span>
          </span>
          <ul>
            <li nz-menu-item routerLink="carga/nota-debito">
              <i nz-icon nzType="file-text" nzTheme="outline"></i>
              <span>Nota de Débito</span>
            </li>
            <li nz-menu-item routerLink="carga/orden-pago">
              <i nz-icon nzType="dollar" nzTheme="outline"></i>
              <span>Orden de Pago</span>
            </li>
            <li nz-menu-item routerLink="carga/reporte-orden-pago">
              <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
              <span>Reporte Orden Pago</span>
            </li>
            <li nz-menu-item routerLink="carga/reporte-ventas">
              <i nz-icon nzType="line-chart" nzTheme="outline"></i>
              <span>Reporte de Ventas</span>
            </li>
            <li nz-menu-item routerLink="carga/reporte-ventas-counter">
              <i nz-icon nzType="team" nzTheme="outline"></i>
              <span>Ventas por Counter</span>
            </li>
          </ul>
        </li>

        <li *ngIf="isAdmin(['1'])" nz-menu-item routerLink="farms">
          <i nz-icon nzType="book" nzTheme="outline"></i>
          <span>Reportes</span>
        </li>

        <li *ngIf="isAdmin(['1','2','3','4','5'])" nz-submenu nzClose>
          <span title>
            <i nz-icon nzType="setting" nzTheme="outline"></i>
            <span>Configuración</span>
          </span>
          <ul>
            <li *ngIf="isAdmin(['1'])" nz-menu-item routerLink="sucursales">
              <i nz-icon nzType="shop" nzTheme="outline"></i>
              <span>Sucursales</span>
            </li>
            <li *ngIf="isAdmin(['1','2'])" nz-submenu nzClose>
              <span title>
                <i nz-icon nzType="global" nzTheme="outline"></i>
                <span>Travelace</span>
              </span>
              <ul>
                <li nz-menu-item routerLink="clients">
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span>Clientes</span>
                </li>
                <li nz-menu-item routerLink="operador">
                  <i nz-icon nzType="car" nzTheme="outline"></i>
                  <span>Proveedores</span>
                </li>
                <li nz-menu-item routerLink="counter">
                  <i nz-icon nzType="team" nzTheme="outline"></i>
                  <span>Counter</span>
                </li>
              </ul>
            </li>
            <li *ngIf="isAdmin(['1','3'])" nz-submenu nzClose>
              <span title>
                <i nz-icon nzType="inbox" nzTheme="outline"></i>
                <span>Paquetes</span>
              </span>
              <ul>
                <li nz-menu-item routerLink="paquetes/clientesList">
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span>Clientes</span>
                </li>
                <li nz-menu-item routerLink="paquetes/proveedorList">
                  <i nz-icon nzType="car" nzTheme="outline"></i>
                  <span>Proveedores</span>
                </li>
                <li nz-menu-item routerLink="paquetes/counterList">
                  <i nz-icon nzType="team" nzTheme="outline"></i>
                  <span>Counter</span>
                </li>
              </ul>
            </li>
            <li *ngIf="isAdmin(['1','4'])" nz-submenu nzClose>
              <span title>
                <i nz-icon nzType="download" nzTheme="outline"></i>
                <span>Carga</span>
              </span>
              <ul>
                <li nz-menu-item routerLink="carga/clientesList">
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span>Clientes</span>
                </li>
                <li nz-menu-item routerLink="carga/proveedorList">
                  <i nz-icon nzType="car" nzTheme="outline"></i>
                  <span>Proveedores</span>
                </li>
                <li nz-menu-item routerLink="carga/counterList">
                  <i nz-icon nzType="team" nzTheme="outline"></i>
                  <span>Counter</span>
                </li>
              </ul>
            </li>
            <li *ngIf="isAdmin(['1'])" nz-submenu nzClose>
              <span title>
                <i nz-icon nzType="safety" nzTheme="outline"></i>
                <span>Administración</span>
              </span>
              <ul>
                <li nz-menu-item routerLink="usuarios">
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span>Usuarios</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="sidebar-footer" *ngIf="!isCollapsed">
      <div class="user-info">
        <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
        <div class="user-detail">
          <span class="user-name">{{nombreUsuario || 'Usuario'}}</span>
          <span class="user-role" *ngIf="userId">ID: {{userId}}</span>
        </div>
      </div>
      <button nz-button nzType="text" class="logout-btn" (click)="logout()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Salir</span>
      </button>
    </div>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="header-left">
          <img src="assets/img/logo1.png" class="header-logo" alt="Logo" />
        </div>
        <div class="header-right">
          <div class="header-user" routerLink="usuarios/edit-usuario/{{userId}}" *ngIf="userId">
            <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
            <span class="header-user-name">{{nombreUsuario}}</span>
          </div>
          <span class="header-version">v1.19.0</span>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
