<div nz-row>
  <div nz-col nzSpan="8">
    <h2>Usuario Metropolitana</h2>
  </div>
  <div nz-col nzSpan="8">
    <button nz-button nzType="primary" routerLink="usuarioCreate">Crear Usuario</button>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="8">
    <nz-form-item>
      <nz-form-label nzSpan="4" nzFor="nombre">Filtrar</nz-form-label>
      <nz-form-control nzSpan="16">
        <input nz-input name="nombre" type="text" id="buscarCliente" nzSpan="20">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="8">
    <button nz-button nzType="primary">Filtrar</button>
  </div>
</div>

<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Direccion</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data" routerLink="edit-usuario/{{data.id}}">
      <td>{{ data.nombre }}</td>
      <td>{{ data.ci }}</td>
      <td>{{ data.usuarioCompany }}</td>      
    </tr>
  </tbody>
</nz-table>
