nz-select {
  width: 400px;
  display: block !important;
}

nz-date-picker {
  width: 400px !important;
  display: block;
}

.ant-calendar-picker {
  width: 400px !important;
  display: block;
}

input {
  width: 200px;
  height: 30px;
}

.ant-form-item {
  margin: 0 0 0 0;
}

td {
  text-align: center;
}

th {
  text-align: center !important;
}
